<a href="https://colab.research.google.com/github/uuilliam19/Test/blob/main/01_Python_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ruta_archivo = "Data Practica Colab.xlsx"
hoja = "Hoja1"
df = pd.read_excel(ruta_archivo,sheet_name=hoja)

In [ ]:
data = df
data.head()

   ID     Codigo1 Codigo2  ...  COD_LITHO                      UNIDAD  FRANJA
0   1  B120020001  F154C1  ...     PeB-gn  Complejo Basal de la Costa       V
1   2  B120020002  F154C2  ...     PeB-gn  Complejo Basal de la Costa       V
2   3  B120020003  F166A1  ...     PeB-gn  Complejo Basal de la Costa       V
3   4  B120020004  F166C1  ...     PeB-gn  Complejo Basal de la Costa       V
4   5  B120020005  F166C2  ...     PeB-gn  Complejo Basal de la Costa       V

[5 rows x 32 columns]

In [ ]:
data.head()

   ID     Codigo1 Codigo2  ...  COD_LITHO                      UNIDAD  FRANJA
0   1  B120020001  F154C1  ...     PeB-gn  Complejo Basal de la Costa       V
1   2  B120020002  F154C2  ...     PeB-gn  Complejo Basal de la Costa       V
2   3  B120020003  F166A1  ...     PeB-gn  Complejo Basal de la Costa       V
3   4  B120020004  F166C1  ...     PeB-gn  Complejo Basal de la Costa       V
4   5  B120020005  F166C2  ...     PeB-gn  Complejo Basal de la Costa       V

[5 rows x 32 columns]

In [ ]:
data.shape

(3146, 32)

In [ ]:
data["Cu_ppm"].describe()

count    3146.000000
mean       47.976732
std        55.716427
min         1.500000
25%        21.000000
50%        31.700000
75%        54.600000
max       943.900000
Name: Cu_ppm, dtype: float64

In [ ]:
data[["Cu_ppm","CaO_%","Mn_ppm"]].head()

   Cu_ppm  CaO_%  Mn_ppm
0    33.8  1.828   810.3
1    19.9  1.138   662.7
2    13.1  1.290   497.2
3    22.5  1.253   556.6
4    13.7  0.972   662.4

In [ ]:
# Muestra solo de la columna "Cu_ppm"
Cu = data[["Cu_ppm"]]

In [ ]:
Cu

      Cu_ppm
0       33.8
1       19.9
2       13.1
3       22.5
4       13.7
...      ...
3141    65.4
3142    74.2
3143    27.7
3144    22.8
3145    38.8

[3146 rows x 1 columns]

In [ ]:
data[data["Cu_ppm"]>20].describe()

                ID         Norte  ...       Th_ppm       Ag_ppb
count  2438.000000  2.438000e+03  ...  2438.000000  2438.000000
mean   1496.681706  8.246044e+06  ...     7.580084    89.269893
std     875.594900  2.035878e+04  ...     3.861854    71.996046
min       1.000000  8.200779e+06  ...     0.650000    30.000000
25%     740.250000  8.231096e+06  ...     5.172931    63.000000
50%    1462.500000  8.246121e+06  ...     6.519843    77.000000
75%    2245.750000  8.261708e+06  ...     9.008540    98.750000
max    3146.000000  8.285500e+06  ...    47.906837  2717.000000

[8 rows x 27 columns]

In [ ]:
Cu[Cu["Cu_ppm"]>20].describe()

            Cu_ppm
count  2438.000000
mean     57.498031
std      59.999533
min      20.100000
25%      27.800000
50%      39.250000
75%      64.375000
max     943.900000

In [ ]:
data[["SiO2_%","MgO_%","Cu_ppm"]].describe()

            SiO2_%        MgO_%       Cu_ppm
count  3146.000000  3146.000000  3146.000000
mean     62.148757     2.119379    47.976732
std       5.593859     1.233760    55.716427
min      34.990000     0.142000     1.500000
25%      58.610000     1.227250    21.000000
50%      62.560000     1.877000    31.700000
75%      66.150000     2.745750    54.600000
max      79.790000     8.930000   943.900000

In [ ]:
data[data["UNIDAD"]=="Fm. Guaneros"].shape

(225, 32)

In [ ]:
data[data["UNIDAD"]=="Fm. Guaneros"].head()

        ID     Codigo1 Codigo2    Norte  ...  Ag_ppb  COD_LITHO        UNIDAD  FRANJA
551    552  B120020601  D088C1  8244176  ...      75      Js-vs  Fm. Guaneros      IX
552    553  B120020602  D088D1  8244041  ...      69      Js-vs  Fm. Guaneros      IX
585    586  B120020638  D104A1  8243030  ...      90      Js-vs  Fm. Guaneros      IX
1019  1020  B120021110  C090C1  8244708  ...      54      Ji-vs  Fm. Guaneros      IX
1022  1023  B120021113  C104B1  8243764  ...     106      Ji-vs  Fm. Guaneros      IX

[5 rows x 32 columns]

In [ ]:
data[(data["UNIDAD"]=="Fm. Guaneros") & (data["Cu_ppm"]>20)].shape

(220, 32)

In [ ]:
data[(data["UNIDAD"]=="Fm. Guaneros") | (data["Cu_ppm"]>20)].shape

(2443, 32)

In [ ]:
data[data.UNIDAD.isin(["Fm. Guaneros","Grupo Tarma"])].head()

      ID     Codigo1 Codigo2    Norte  ...  Ag_ppb  COD_LITHO        UNIDAD  FRANJA
551  552  B120020601  D088C1  8244176  ...      75      Js-vs  Fm. Guaneros      IX
552  553  B120020602  D088D1  8244041  ...      69      Js-vs  Fm. Guaneros      IX
585  586  B120020638  D104A1  8243030  ...      90      Js-vs  Fm. Guaneros      IX
749  750  B120020816  C+22A1  8236040  ...      57      CsP-m   Grupo Tarma       V
750  751  B120020817  C+23A1  8235510  ...     156      CsP-m   Grupo Tarma       V

[5 rows x 32 columns]

In [ ]:
data[pd.isna(data["Cu_ppm"])].head()

Empty DataFrame
Columns: [ID, Codigo1, Codigo2, Norte, Este, SiO2_%, SiO2_ppm, MgO_%, MgO_ppm, CaO_%, Cr_ppm, Cu_ppm, Mn_ppm, Pb_ppm, Sr_ppm, V_ppm, Y_ppm, Zn_ppm, Zr_ppm, Li_ppm, Be_ppm, Nb_ppm, Mo_ppm, Sb_ppm, La_ppm, W_ppm, Bi_ppm, Th_ppm, Ag_ppb, COD_LITHO, UNIDAD, FRANJA]
Index: []

In [ ]:
pd.isna(data).sum()

In [ ]:
pd.isnull(data).sum()

In [ ]:
# Agregar una columna